### Django ###
*~
*.log
*.pot
*.pyc
__pycache__/
geo_sensor_gaps/settings/local.py
geo_sensor_gaps/settings/.env
geo_sensor_gaps/settings/.docker-env
local_settings.py
db.sqlite3
media/
static/
temp.json
geo_sensor_gaps/media
geo_sensor_gaps/static