asgiref
astroid
attrs
awesome-slugify
Click
click-plugins
cligj
cmake
csvs
Django
django-contrib-postgres=
django-environ
django-floppyforms
django-geojson
django-leaflet
django-pandas
django-range-slider
django-redis
djangorestframework
environ
Fiona
fstring
geopandas
jsonfield
lazy-object-proxy
Mako
MarkupSafe
munch
numpy
pandas
psycopg2-binary
pyproj
python-dateutil
pytz
redis
regex
region-estimators
scipy
Shapely
six
speaklater
sqlparse
typing
Unidecode
wrapt
