{% extends "base_generic.html" %}

{% load static leaflet_tags %}


  {% block head %}

    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>

    {% leaflet_css %}
    {% leaflet_js %}

    <!-- Spiderfier -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>

    <!-- Markcluster for Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css">
    <!--link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.css">
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/MarkerCluster.Default.css" -->
    <!--link rel="stylesheet" type="text/css" href={% static 'css/MarkerCluster.css' %} />
    <link rel="stylesheet" type="text/css" href={% static 'css/MarkerCluster.Default.css' %} /-->
    <script type='text/javascript' src='https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js'></script>
    <!--script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster.js'></script-->
    <!--script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.4.1/leaflet.markercluster-src.js'></script-->
    <!--script type='text/javascript' src={% static 'js/leaflet.markercluster.js' %}></script>
    <script type='text/javascript' src={% static 'js/leaflet.markercluster-src.js' %}></script-->

    <!-- terraforma: Converts WKT polygons to co-ordinates format (preferred by Leaflet) -->
    <script src="https://unpkg.com/terraformer@1.0.8"></script>
    <script src="https://unpkg.com/terraformer-wkt-parser@1.1.2"></script>

    <script src="{% static 'js/svg-icon.js' %}"></script>

    <script type="module" src="{% static 'js/main.js' %}"></script>
  {% endblock %}

  {% block content %}
  {% endblock %}