{% extends "base.html" %}
{% load leaflet_tags static %}


{% block body-class %}page-head{% endblock %}

{% block content %}
    {% block load_files %}

        {% if user.is_authenticated %}
            <div id="load-files" class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <button id="btn-select-files">Select data files</button>
                    </div>
                </div>
                <div class="row" id="select-files">

                    {% with filepaths|first as filepath %}
                        <form  method="POST" id="file-upload-form" enctype="multipart/form-data">
                            <div id="upload-fields" class='col-sm-12'>
                                {% csrf_token %}
                                <table class="table table-striped">
                                    <tr>
                                      <th scope="col"></th>
                                        <th scope="col">Timestamped data</th>
                                        <th scope="col">Metadata</th>
                                    </tr>
                                    <tr>
                                        {% if message %}<div class='imp_message'>{{ message }}</div>{% endif %}
                                        <th scope="row">Actual data</th>
                                        <td><span class="current-filename">Site data file: (current: {{ filepath.actual_data_filename|safe }})</span>
                                            {% if form.actual_data_file %}<br>{{form.actual_data_file}}{% endif %}</td>
                                        <td><span class="current-filename">Site metadata file: (current: {{ filepath.site_metadata_filename|safe }})</span>
                                            {% if form.site_metadata_file %}<br>{{ form.site_metadata_file }}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Estimated data</th>
                                        <td><span class="current-filename">Estimated data file: (current: {{ filepath.estimated_data_filename|safe }})</span>
                                            {% if form.estimated_data_file %}<br>{{ form.estimated_data_file }}{% endif %}</td>
                                        <td><span class="current-filename">Estimation metadata file: (current: {{ filepath.region_metadata_filename|safe }})</span>
                                            {% if form.region_metadata_file %}<br>{{ form.region_metadata_file }} {% endif %}</td>
                                    </tr>
                                </table>
                                <button type="submit" class="btn btn-primary" id='upload-btn'>Upload</button>
                            </div>
                            {% if form.errors %}
                                {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </form>
                    {% endwith %}
                </div>
            </div>
        {% endif %}
    {% endblock %}

    <div id="map-main-info" class="container-fluid">
        <div class="row" id="main">

            <div id="map-options" class="col-sm-3">

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <div id="map-slider">
                                    <div class="slidecontainer">
                                      <input type="range" min="0" max="100" value="0" class="slider" id="timestamp-range">

                                        <div id="map-sliderheader">
                                            <div id="slider-value">Timestamp: <span id="current-time" class="chosen-option"></span></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="measurement-names" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseMeasurement" aria-expanded="false" aria-controls="collapseMeasurement">
                            <div class="panel-title">Select measurement <span class="chosen-option" id="measurement-names-label"></span></div>
                        </div>
                    </div>
                    <div id="collapseMeasurement" class="panel-collapse collapse">
                        <div class="panel-body">
                            {% for measurement in measurement_names %}
                                <input type="radio" name="measurement" value="{{ measurement }}" checked="checked"> {{ measurement }}<br>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div id="upload-data" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseUpload" aria-expanded="false" aria-controls="collapseUpload">
                            <div class="panel-title">Upload data and visualise<span class="chosen-option" id="upload-data-label"></span></div>
                        </div>
                    </div>
                    <div id="collapseUpload" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="upload-data-instructions">
                                Upload geographical time-series data as a CSV file.
                                The csv file must have the following columns: <br/><br/>
                                Column 1: has header 'timestamp' and contains timestamps as strings,
                                matching those available on the timestamp slider, <br/>
                                Example: 2016-10-12 <br/> <br/>
                                Column 2: has header 'geom' and contains geographical locations (currently points only), <br/>
                                Example: POINT (-2.254 53.397) <br/><br/>
                                Columns remaining: header(s) will be used as measurement name(s) and
                                values should be numeric (non numeric will be converted to null)<br/><br/>
                                <em>Note that the uploaded file's data is stored locally on the browser, and only used
                                    for visualisation on the map, within this browser session.</em>
                            </div>
                            <input id="upload-data-button" type="file">
                        </div>
                    </div>
                </div>

                <div id="estimation-method" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseEstimationMethod" aria-expanded="false" aria-controls="collapseEstimationMethod">
                            <div class="panel-title">Select estimation method <span class="chosen-option" id="estimation-method-label"></span></div>
                        </div>
                    </div>
                    <div id="collapseEstimationMethod" class="panel-collapse collapse">
                        <input type="radio" name="estimation-method" value="file" checked="checked">pre-loaded<br>
                        {% for method_name in method_names %}
                           <input type="radio" name="estimation-method" value={{ method_name }}> {{ method_name }}<br>
                        {% endfor %}
                    </div>
                </div>

                <div id="site-field-data" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseFilterSites" aria-expanded="false" aria-controls="collapseFilterSites">
                            <div class="panel-title"> Filter sites by... <span class="chosen-option" id="site-field-label"></span> </div>
                        </div>
                    </div>
                    <div id="collapseFilterSites" class="panel-collapse collapse"></div>
                </div>

                <div id="download-options" class="panel-group">
                    <div class="panel panel-default" data-toggle="modal" data-target="#modalDownload">
                        <div class="panel-heading">
                            <div class="panel-title">Download data</div>
                        </div>
                    </div>
                    <div id="modalDownload" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Download Data</h4>
                                </div>
                                <div class="modal-body">
                                    <table id="download-buttons" class="table table-condensed modal-dialog">
                                        <tr id="file-download-instructions" class="download-instructions">
                                            <td colspan="4"><em><b>Download original files used to initialise the map:</b></em></td>
                                        </tr>
                                        <tr id="sites-download" class="download-file">
                                            <td>
                                                <label>Measurement site data DOI</label>
                                            </td>
                                            <td colspan="2">
                                              <a href="https://zenodo.org/record/4416028" target="_blank">
                                                        https://zenodo.org/record/4416028</a>
                                            </td>
                                        </tr>
                                        <tr id="actuals-download" class="download-file">
                                            <td>
                                                <label>Estimated data DOI</label>
                                            </td>
                                            <td colspan="2">
                                                 <a href="https://zenodo.org/record/4475652" target="_blank">
                                                    https://zenodo.org/record/4475652</a>
                                            </td>
                                        </tr>

                                    </table>
                                    <table id="api-instructions" class="table table-condensed">
                                        <tr><td colspan="4"></td> </tr>
                                        <tr id="api-call-instructions" class="download-instructions">
                                            <td colspan="4"><em><b>Obtain data using REST API:</b>
                                            <em>Prefix all calls with: <br>
                                                <code>minethegaps.manchester.ac.uk</code></em></td>
                                        </tr>
                                        <tr class="download-instructions sub-instructions">
                                            <td colspan="4"><em>Get original files as json</em></td>
                                        </tr>
                                        <tr class="sample-api-call">
                                            <td colspan="4">
                                                <code>
                                                    /sites_metadata_file/<br>
                                                    /regions_metadata_file/<br>
                                                    /sites_data_file/<br>
                                                    /regions_estimates_file/
                                                </code>
                                            </td>
                                        </tr>
                                        <tr><td colspan="4"></td> </tr>
                                        <tr class="download-instructions sub-instructions">
                                            <td colspan="4"><em>Get geoJson of sites or regions metadata:</em></td>
                                        </tr>
                                        <tr class="sample-api-call">
                                            <td colspan="4">
                                                <code>
                                                /sites_metadata.geojson<br>
                                                /regions_metadata.geojson
                                                </code>
                                            </td>
                                        </tr>
                                        <tr><td colspan="4"></td> </tr>
                                        <tr class="download-instructions sub-instructions">
                                            <td colspan="4"><em>Get data for particular measurement, timestamp and region/site</em></td>
                                        </tr>
                                        <tr class="sample-api-call">
                                            <td colspan="4">
                                                <code>
                                                    /site_data/[str:measurement]/[str:timestamp]/[int:site_id]/<br>
                                                    /estimated_data/[str:estimation_method]/[str:measurement]/[str:timestamp]/[str:region_id]/
                                                </code>
                                            </td>
                                        </tr>
                                        <tr><td colspan="4"></td> </tr>
                                        <tr class="download-instructions sub-instructions">
                                            <td colspan="4"><em>Get data for particular measurement and timestamp</em></td>
                                        </tr>
                                        <tr class="sample-api-call">
                                            <td colspan="4">
                                                <code>
                                                    /site_data/[str:measurement]/[str:timestamp]/<br>
                                                    /estimated_data/[str:estimation_method]/[str:measurement]/[str:timestamp]/
                                                </code>
                                            </td>
                                        </tr>
                                        <tr><td colspan="4"></td> </tr>
                                        <tr class="download-instructions sub-instructions">
                                            <td colspan="4"><em>Get timeseries data for particular measurement and region/site_id</em></td>
                                        </tr>
                                        <tr class="sample-api-call">
                                            <td colspan="4">
                                                <code>
                                                    /site_timeseries/[str:measurement]/[int:site_id]/<br>
                                                    /estimated_timeseries/[str:estimation_method]/[str:measurement]/[str:region_id]/
                                                </code>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="map" class="col-sm-6">
                <div id="loader-outer"></div>

                <!--{-% leaflet_map "mapid" callback="main_map_init" %}-->
                <div id="mapid"></div>

                <script type="text/javascript">
                    var timestampRange = "{{timestamp_range|escapejs }}";
                    var centerLatLng = "{{center|escapejs }}";
                    var timestampList = timestampRange.replace('[','').replace(']','').replace(/'/g, '').split(',');
                    var dataUrl = '{{ request.path }}' + 'all_data';
                    var mapIconPath = "{% static 'image/leaflet' %}";
                    var siteDataUrl = '{% url "sites_metadata" %}';
                    var regionsFileUrl = '{% url "regions_metadata" %}';

                    var siteFieldsUrl = '{{ request.path }}' + 'site_fields';

                    var siteTimeseriesUrl = '{{ request.path }}' + 'site_timeseries';
                    var estimatedTimeseriesUrl = '{{ request.path }}' + 'estimated_timeseries';

                </script>

            </div>
            <div id="further-data" class="col-sm-3">
                <div id="acknowledgements">
                    <img src="../static/image/UoM_white_background.png">
                    <img src="../static/image/Turing_logo.png">
                    <img src="../static/image/epsrc.jpg">
                    <p>This web application is part of the project "Understanding the relationship between human health and the environment'
                        funded by the Alan Turing Institute </p>
                </div>
                <div id="site-data" >
                    <div id="site-data-instructions"></div>
                    <div id="site-charts"></div>
                </div><br>
                <div id="region-data" ></div>
            </div>
        </div>
    </div>


{% endblock %}






