GEO_SENSOR_GAPS_DEBUG=True
GEO_SENSOR_GAPS_SECRET_KEY=[GET A SECRET_KEY]
GEO_SENSOR_GAPS_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

GEO_SENSOR_GAPS_SQL_ENGINE=django.contrib.gis.db.backends.postgis
GEO_SENSOR_GAPS_SQL_DATABASE=postgres
GEO_SENSOR_GAPS_SQL_USER=postgres
GEO_SENSOR_GAPS_SQL_PASSWORD=postgres
GEO_SENSOR_GAPS_SQL_HOST=db
GEO_SENSOR_GAPS_SQL_PORT=5432