<!-- ARE YOU CLONING THIS WEB APP FOR YOUR OWN PROJECT?
     This html page is where you'd want to update the info panels to your own requirements...
-->

<div id="site-about" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse-about"
             aria-expanded="false" aria-controls="collapse-about">
            <div class="panel-title">About</div>
        </div>
    </div>
    <div id="collapse-about" class="panel-collapse collapse">
        <div class="panel-body">
            <p>A tool for estimating regional measurements based on known values and visualising the
                results. The estimation methods (see 'Select estimation method': all options except
                'pre-loaded') are the estimation methods (classes) available in the python library:
                <a href="https://pypi.org/project/region-estimators/" target = _blank>
                    https://pypi.org/project/region-estimators</a> ('concentric-regions' and 'distance-simple'
                at time of writing)</p>
        </div>
    </div>
</div>
