<!-- ARE YOU CLONING THIS WEB APP FOR YOUR OWN PROJECT?
     This html page is where you'd want to update the info panels to your own requirements...
-->

<div id="site-acknowledgements">
    <img alt="UoM" src="../../static/image/UoM_white_background.png">
    <img alt = "Turing" src="../../static/image/Turing_logo.png">
    <img alt = "EPSRC" src="../../static/image/epsrc.jpg">
    <p>This web application is part of the project "Understanding the relationship between
        human health and the environment" funded by the <a href="https://www.turing.ac.uk/" target="_blank">
            Alan Turing Institute</a>
    </p>

    <p>Would you like to run your own copy of this web application and/or improve the code?
        You can find the source code at:
        <a href="https://github.com/UoMResearchIT/geo_sensor_gaps" target="_blank">
            github.com/UoMResearchIT/geo_sensor_gaps</a> Pull requests welcome!
    </p>
</div>
