<!-- ARE YOU CLONING THIS WEB APP FOR YOUR OWN PROJECT?
     This html page is where you'd want to update the info panels to your own requirements...
-->

<div id="site-data" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse-data-sources"
             aria-expanded="false" aria-controls="collapse-data-sources">
            <div class="panel-title">Data sources</div>
        </div>
    </div>
    <div id="collapse-data-sources" class="panel-collapse collapse">
        <div class="panel-body">
            <p>
                <b>Site measurement data</b> uses imputed data originally sourced from
                <a href="https://www.data-mashup.org.uk/" target="_blank">MEDMI</a> and
                <a href="https://uk-air.defra.gov.uk/networks/network-info?view=aurn" target="_blank">AURN</a>.
                We have cleaned this data and imputed missing values. Click on the
                <i>'Download data'</i> button for further details and to access this processed data.
            </p>
            <p>
                The <b>'pre-loaded' data</b> (under 'Select estimation method') contains regional estimates data
                derived from the above pre-processed site measurement data.
                Click on the <i>'Download data'</i> button for links to obtain further details and to access these
                files.
            </p><p>The <a href="https://pypi.org/project/region-estimators/">https://pypi.org/project/region-estimators</a>
                python package was used to generate the 'pre-loaded' regional estimations file.
            </p>
        </div>
    </div>
</div>
