<table id="turing-download-content" class="table table-condensed modal-dialog flexible-download-content">
    <tr id="file-download-instructions" class="download-instructions">
        <td colspan="4"><em><b>Download original files used to initialise the map:</b></em></td>
    </tr>
    <tr id="sites-download-1" class="download-file">
        <td>
            <label>Measurement site data DOI (2016-2019)</label>
        </td>
        <td colspan="2">
          <a href="https://zenodo.org/record/4416028" target="_blank">
                    https://zenodo.org/record/4416028</a>
            <br>(file 3: imputed data)
        </td>
    </tr>
    <tr id="sites-download-2" class="download-file">
        <td>
            <label>Measurement site data DOI (2020)</label>
        </td>
        <td colspan="2">
          <a href="https://zenodo.org/record/4740965" target="_blank">
                    https://zenodo.org/record/4740965</a>
        </td>
    </tr>
    <tr id="actuals-download-2" class="download-file">
        <td>
            <label>Estimated data DOI (2016-2019)</label>
        </td>
        <td colspan="2">
             <a href="https://zenodo.org/record/4475652" target="_blank">
                https://zenodo.org/record/4475652</a>
            <br>(file 3: imputed data)
        </td>
    </tr>
    <tr id="actuals-download=2" class="download-file">
        <td>
            <label>Estimated data DOI (2020)</label>
        </td>
        <td colspan="2">
             <a href="https://zenodo.org/record/5113200" target="_blank">
                https://zenodo.org/record/5113200</a>
            <br>(file 1: original data)
        </td>
    </tr>

</table>