<!-- ARE YOU CLONING THIS WEB APP FOR YOUR OWN PROJECT?
     This html page is where you'd want to update the info panels to your own requirements...
-->

<div id="site-instructions" class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#collapse-initial-instructions"
             aria-expanded="false" aria-controls="collapse-initial-instructions">
            <div class="panel-title">Initial instructions</div>
        </div>
    </div>
    <div id="collapse-initial-instructions" class="panel-collapse collapse">
        <div class="panel-body">
            <p>
                Click on a site to see site info and also the option to view site and estimated data across
                <em>all</em> timestamps.</p>
            <p>Click on a region to see region info.
                    If no sites exist for this timestamp, either: <br>
            (i) use slider to find another timestamp<br>
            (ii) use 'Select measurement' option to change measurements.</p>
        </div>
    </div>
</div>
