pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.current-filename{
    color: darkgreen;
}

.leaflet-container {
    height: 800px;
    width: 100%;
}

#selected-files{
    border-style: ridge;
}

#selected-files tr{
    height: 5px;
}

#upload-fields{
    border-style: ridge;
    height: 225px;
}

#upload-submit{
    border-style: ridge;
    height: 200px;
    padding: 30px;
}

#map-main-info{
    margin-top: 10px;
    height: 800px;
}

#map{
    border-style: ridge;
    padding-left:0;
    padding-right:0;

}

#map-slider{
    border-style: ridge;
    height:50px;
}

#map-options{
    height: 800px;
    padding-left:0;
    padding-right:0;
}

#map-options div{
    padding: 5px;
}

#map-overlays{
    border-style: ridge;
}

#estimation-method{
    border-style: ridge;

}

#region-data{
    border-style: ridge;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */

}

#map-slider{
    bottom:0;
    position:fixed;
    width:inherit;
    z-index: 1000;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #653caf; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #653caf; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#slider-value{
    background-color: #e0e0e0;
}


/*
    Timer / spinner to show data loading.

 */


#loader-outer{
    position:absolute;
    top: 15%;
    width: 200px;
    z-index: 1000;
}


.ajax-call-loader {
  border: 16px solid #725f8b;
  border-radius: 50%;
  border-top: 16px solid #ea8511;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  float:left;
}

.ajax-call-loader.size-1{
  width: 20px;
  height: 20px;
}
.ajax-call-loader.size-2{
  width: 40px;
  height: 40px;
}
.ajax-call-loader.size-3{
  width: 60px;
  height: 60px;
}
.ajax-call-loader.size-4{
  width: 80px;
  height: 80px;
}
.ajax-call-loader.size-5{
  width: 100px;
  height: 100px;
}

.ajax-waiting-text {
    padding-left: 5%;
    padding-top: 60px;
}

.ajax-waiting-text.size-1{
    padding-left: 7%;
    padding-top: 6px;
}

.ajax-waiting-text.size-2{
    padding-left: 8%;
    padding-top: 17px;
}

.ajax-waiting-text.size-3{
    padding-left: 10%;
    padding-top: 25px;
}

.ajax-waiting-text.size-4{
    padding-left: 12%;
    padding-top: 40px;
}

.ajax-waiting-text.size-5{
    padding-left: 15%;
    padding-top: 60px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

